<title>Pet Details</title>

<div class="pet-card">
  <!-- Display Pet Information -->
    <h2><%= @pet.pet_name %></h2>
        <div class ="pet-photo-home">
                <% if @pet.photo.attached? %>
                    <%= cl_image_tag pet.photo.key, alt: pet.pet_name %>
                <% else %>
                    <%= image_tag "https://res.cloudinary.com/dag1qh58z/image/upload/v1712857676/5340777_a5bytl.jpg" %>
                <% end %>
              </div>
    <p><strong>Birthdate:</strong> <%= @pet.birthdate %></p>
    <p><strong>Microchip Number:</strong> <%= @pet.microchip_number %></p>
    <p><strong>Breed:</strong> <%= @pet.breed %></p>
    <p><strong>Size:</strong> <%= @pet.size %></p>
    <p><strong>Color:</strong> <%= @pet.color %></p>
    <%# <p><strong>Sterilized:</strong> <%= @pet.sterilized ? 'Yes' : 'No' %></p>
    <%# <p><strong>Vaccine Card:</strong> <%= @pet.vaccine_card %></p>
    <%= link_to "Edit Pet", edit_pet_path(@pet), class: "btn btn-sm btn-primary mt-2" %>
  </div>

  <%# <!-- Edit Pet Form (Initially Hidden) -->
  <%= simple_form_for @pet,
    html: {
      class: @pet.errors.any? ? "" : "d-none",
      data: {
        edit_pet_target: "form",
        action: "submit->edit-pet#update"
      }
    } do |f|

    <%= f.input :pet_name
    <%= f.input :birthdate, as: :date
    <%= f.input :microchip_number
    <%= f.input :breed
    <%= f.input :size, collection: ['Small', 'Medium', 'Large']
    <%= f.input :color
    <%= f.input :sterilized, as: :boolean
    <%= f.input :vaccine_card %>
    <%# f.button :submit, "Save", class: "btn btn-sm btn-primary btn-block mt-2", data: { action: "click->edit-pet#update" } %>
    <%# <%= f.button :button, "Cancel", class: "btn btn-sm btn-primary btn-block mt-2", onclick: "window.history.back();" %>

  <%# <% end %>
</div>

<!-- StimulusJS Script
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const application = Stimulus.Application.start();

    application.register("edit-pet", class extends Stimulus.Controller {
      static targets = ["card", "infos", "form"];

      displayForm() {
        this.infosTarget.classList.add("d-none"); // Hide pet infos
        this.formTarget.classList.remove("d-none"); // Show edit form
      }

      update() {
        this.infosTarget.classList.remove("d-none"); // Show pet infos
        this.formTarget.classList.add("d-none"); // Hide edit form
      }
    });
  });
</script> -->
