<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pet Details</title>
</head>
<body>

<div class="container">
  <h1><%= @pet.pet_name %></h1>
  <div class="button-container">
   <button type="button" class="btn btn-primary">Change Picture</button>
</div>
</div>

  <table>
      <th>Birthdate</th>
      <td><%= @pet.birthdate %></td>
    </tr>
    <tr>
      <th>Microchip Number</th>
      <td><%= @pet.microchip_number %></td>
    </tr>
    <tr>
      <th>Breed</th>
      <td><%= @pet.breed %></td>
    </tr>
    <tr>
      <th>Size</th>
      <td><%= @pet.size %></td>
    </tr>
    <tr>
      <th>Color</th>
      <td><%= @pet.color %></td>
    </tr>
    <tr>
      <th>Sterilized</th>
      <td><%= @pet.sterilized ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
      <th>Vaccine Card</th>
      <td><%= @pet.vaccine_card %></td>
    </tr>
    <tr>
      <th>Created At</th>
      <td><%= @pet.created_at %></td>
    </tr>
    <tr>
      <th>Updated At</th>
      <td><%= @pet.updated_at %></td>
    </tr>
  </table>

   <div class="icons">
    <img src="https://img.icons8.com/material-outlined/24/edit--v1.png" alt="Edit" title="Edit" />
    <img src="https://img.icons8.com/material-outlined/24/trash--v1.png" alt="Delete" title="Delete" />
      </div>
     </div >

</body>
</html>
