<!-- Display content for logged-in users -->
<h1 class="text-center">Hi, <%= current_user.first_name %> <%= current_user.last_name %>!</h1>

<!-- Check if the user has pets -->
<% if current_user.pets.any? %>
  <!-- Display the user's pets -->
  <div class="row">
    <% current_user.pets.each do |pet| %>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card shadow">
          <div class= pet-photo-home>
            <% if pet.photo.attached? %>
                <%= cl_image_tag pet.photo.key, alt: pet.pet_name, class:"card-img-top" %>
            <% else %>
                <%= image_tag "https://res.cloudinary.com/dag1qh58z/image/upload/v1712857676/5340777_a5bytl.jpg" %>
            <% end %>
          </div>
        </div>
        <div class="card-body">
            <h5 class="card-title"><%= pet.pet_name %></h5>
            <p class="card-text">Breed: <%= pet.breed %></p>
            <!-- change code below to show pet details -->
            <a href="<%= pet_path(pet) %>" class="btn btn-primary btn-block">View Details</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <!-- If the user does not have pets, display an "Add New Pet" button and a "Get Started" text -->
  <div class="row mt-4">
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Get Started</h5>
          <p class="card-text">You don't have any pets yet. Click below to add a new pet!</p>
          <a href="/accountinformation" class="btn btn-primary">Add New Pet</a>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Button to go explore -->
<div class="row mt-12">
  <div class="col-12">
    <a href="/places" class="btn btn-lg btn-primary btn-block">Explore places near me</a>
  </div>
</div>

<!--Recommended Places-->
<div class="row mt-4">
  <div class="col-12">
    <h2 class="card-title">Recommendation of the day:</h2>
    <% random_recommendations(1).each do |recommendation| %>
      <div class="col-md-4 mb-4">
        <a href="<%= place_path(recommendation) %>" class="card-product">
          <%# <%= image_tag "/assets/#{recommendation.ref}1.jpg", class:"card-img-top" %>
          <%= image_tag "#{recommendation.ref}1.jpg", class:"card-img-top" %>
          <%# <img src="https://images.unsplash.com/photo-1585938389612-a552a28d6914?q=80&w=2320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Product Image"> %>
          <div class="card-product-infos">
            <h2><%= recommendation.place_name %></h2>
            <p><%= recommendation.place_description %></p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
