
<!-- we can delete this page since we dont have the filters are modals instead -->
<!DOCTYPE html>
<html>
<head>
  <title>Filter Options</title>
  <style>
    /* Add left margin for better spacing */
    /* body {
      margin-left: 20px;
    } */
    .checkbox-label {
      display: inline-block;
      margin-left: 5px;
    }
    .column {
      float: left;
      width: 33.33%; /* Set width for each column */
      padding: 5px; /* Add padding for spacing */
    }
    /* Clear floats after each column */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    /* Reduce width of place size options */
    .pet-size-options .checkbox-label {
      width: calc(90% - 25px); /* Adjust width to accommodate checkbox */
    }
    /* Add margin between rows */
    .row {
      margin-bottom: 10px;
    }
    /* Align checkboxes and labels */
    input[type="checkbox"] {
      vertical-align: middle;
    }
  </style>

  <!-- Include Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <h1>Filter Options</h1>
  <form action="/places" method="GET">
  <!--
  <label for="place_type">Place Type:</label><br>
    <div class="row">
      <div class="column">
        Generate checkboxes based on property types from Place model
        <% Place::PLACE_TYPES.each_with_index do |place_type, index| %>
          <% if index % 3 == 0 %>
            <input type="checkbox" id="<%= place_type.downcase %>" name="place_type[]" value="<%= place_type %>">
            <label for="<%= place_type.downcase %>" class="checkbox-label"><%= place_type %></label><br>
          <% end %>
        <% end %>
      </div>
      <div class="column"
      Second column
        <% Place::PLACE_TYPES.each_with_index do |place_type, index| %>
          <% if index % 3 == 1 %>
            <input type="checkbox" id="<%= place_type.downcase %>" name="place_type[]" value="<%= place_type %>">
            <label for="<%= place_type.downcase %>" class="checkbox-label"><%= place_type %></label><br>
          <% end %>
        <% end %>
      </div>
      <div class="column">
        Third column
        <% Place::PLACE_TYPES.each_with_index do |place_type, index| %>
          <% if index % 3 == 2 %>
            <input type="checkbox" id="<%= place_type.downcase %>" name="place_type[]" value="<%= place_type %>">
            <label for="<%= place_type.downcase %>" class="checkbox-label"><%= place_type %></label><br>
          <% end %>
        <% end %>
      </div>
    </div> -->

    <!-- Pet Size options -->
    <div class="row pet-size-options">
      <div class="column">
        <label for="size">Pet Size:</label><br>
        <% Pet::SIZES.each do |size| %>
          <input type="checkbox" id="<%= size.downcase %>" name="size[]" value="<%= size %>">
          <label for="<%= size.downcase %>" class="checkbox-label"><%=size %></label><br>
        <% end %>
      </div>
    </div>

    <!-- Special characteristics options
    <div class="row special-characteristics-options">
      <div class="column">
        <label for="special_characteristics">Special Characteristics:</label><br>
        <% Place::SPECIAL_CHARACTERISTICS.each do |characteristic| %>
          <input type="checkbox" id="<%= characteristic.downcase %>" name="<%= characteristic.downcase %>" value="true">
          <label for="<%= characteristic.downcase %>" class="checkbox-label"><%= characteristic %></label><br>
        <% end %>
      </div>
    </div> -->

    <!-- Ratings options
    <div class="row ratings-options">
      <div class="column">
        <label for="ratings">Ratings:</label><br>
        <input type="checkbox" id="1_star" name="ratings[]" value="1">
        <label for="1_star" class="checkbox-label"><i class="fas fa-star"></i></label><br>
        <input type="checkbox" id="2_stars" name="ratings[]" value="2">
        <label for="2_stars" class="checkbox-label"><i class="fas fa-star"></i><i class="fas fa-star"></i></label><br>
        <input type="checkbox" id="3_stars" name="ratings[]" value="3">
        <label for="3_stars" class="checkbox-label"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label><br>
        <input type="checkbox" id="4_stars" name="ratings[]" value="4">
        <label for="4_stars" class="checkbox-label"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label><br>
        <input type="checkbox" id="5_stars" name="ratings[]" value="5">
        <label for="5_stars" class="checkbox-label"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label><br>
      </div>
    </div> -->

    <!-- Proximity location filter
    <div class="row proximity-options">
      <div class="column">
        <label for="proximity">Proximity (km):</label><br>
        <input type="range" id="proximity" name="proximity" min="0" max="100" class="proximity-slider">
        <output for="proximity" id="proximity-value">50 km</output>
      </div>
    </div> -->
    <br>
    <!-- Reset button -->
    <input type="reset" value="Reset">

    <!-- Submit button -->
    <input type="submit" value="Apply Filters">
  </form>

  <script>
    // Get the slider
    var slider = document.getElementById("proximity");
    // Get the output element
    var output = document.getElementById("proximity-value");
    // Set the initial value
    output.innerHTML = slider.value + " km";
    // Update the output value when slider value changes
    slider.oninput = function() {
      output.innerHTML = this.value + " km";
    }
  </script>
</body>
</html>
