<%= form_with(model: [@place, @review]) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%# <div class="field">
    <%= form.label :rating, "Rating" %>
    <%# <div class="rating">
      <% (1..5).each do |i| %>
        <%# <%= radio_button_tag "review[rating]", i, i == @review.rating, class: "star" %>
        <%# <label for="review_rating_<%= i" class="star-label"><%= i %></label>
      <%# <% end %>
    <%# </div>
  </div> %>

  <div class="field">
    <%= form.label :rating, "Rating" %>
    <div class="rating-group">
      <% (1..5).each do |i| %>
        <%= radio_button_tag "review[rating]", i, i == @review.rating, class: "rating__input", id: "rating-#{i}" %>
        <label aria-label="<%= i %> stars" class="rating__label" for="rating-<%= i %>"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
      <% end %>
    </div>
  </div>


  <div class="actions">
    <%= form.submit "Submit Review" %>
  </div>
<% end %>
