<%# Hero %>
<div class="hero">
  <h1>Explore</h1>
</div>

<%# Search bar %>
<div class="container">
  <div class="row justify-content-start">
    <div class="col-sm-2 my-1">
      <%= form_with url: places_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-sm-2 my-1">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">
  APPLY FILTER </button>
     </div>
  </div>
</div>

<%# Modal %>
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= form_tag(places_path, method: :get, id: "filterForm") do %>
        <div class="modal-header">
          <h5 class="modal-title" id="filterModalLabel">Filter Options</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <!-- Size Filter -->
                <h6>Size:</h6>
                <div class="form-check">
                  <%= radio_button_tag(:size, 'Small', false, class: 'form-check-input', id: 'smallSize') %>
                  <%= label_tag('smallSize', 'Small', class: 'form-check-label') %>
                </div>
                <div class="form-check">
                  <%= radio_button_tag(:size, 'Medium', false, class: 'form-check-input', id: 'mediumSize') %>
                  <%= label_tag('mediumSize', 'Medium', class: 'form-check-label') %>
                </div>
                <div class="form-check">
                  <%= radio_button_tag(:size, 'Large', false, class: 'form-check-input', id: 'largeSize') %>
                  <%= label_tag('largeSize', 'Large', class: 'form-check-label') %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="applyFilterButton">Apply Filter</button>
          <button type="button" class="btn btn-danger" id="resetFilterButton">Reset</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const applyFilterButton = document.getElementById("applyFilterButton");
    const filterForm = document.getElementById("filterForm");

    if (applyFilterButton && filterForm) {
      applyFilterButton.addEventListener("click", () => {
        filterForm.submit();
      });
    }
  });
</script>


<%# Map %>
<div class="col-">
  <div class="map">
    <div style="width: fit; height: 500px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-8">
    <div id="places">
      <% if @places.any? %>
        <% @places.each do |place| %>
          <h4><%= place.place_name %></h4>
          <p><%= place.place_description %></p>
        <% end %>
      <% else %>
        <em>Sorry, no places found.</em>
      <% end %>
    </div>
  </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("filterButton").addEventListener("click", function() {
      $('#filterModal').modal('show'); // jQuery method to show the modal
    });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Function to reset the radio buttons
    function resetRadioButtons() {
      document.querySelectorAll('input[name="size"]').forEach(function(radio) {
        radio.checked = false;
      });
    }

    // Event listener for the Reset button
    document.getElementById("resetFilterButton").addEventListener("click", function() {
      resetRadioButtons();
    });
    document.getElementById("applyFilterButton").addEventListener("click", function() {
      // Logic to apply the selected filter
      var selectedSize = document.querySelector('input[name="size"]:checked').value;
      // You can perform further actions based on the selected filter
      console.log("Selected Size: " + selectedSize);
      // Close the modal after applying the filter
      $('#filterModal').modal('hide');
    });
  });
</script>
