<div class="place-details">
  <div class="header">
    <h1><%= @place.place_name %></h1>


<%# Carrusel of images %>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "#{@place.ref}1.jpg", class:"d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "#{@place.ref}2.jpg", class:"d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "#{@place.ref}3.jpg", class:"d-block w-100" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<%# Buttons %>

    <div class="buttons">
      <%= link_to "Take me there", navigate_path, class: "btn btn-primary take-me-there" %>
      <!-- changed the code for Back to make it go back to the previous page instead of defaulting to explore page-->
      <%= link_to "Back", places_path, class: "btn btn-secondary back", onclick: "window.history.back();" %>
    </div>
  </div>

  <div class="details">
    <div class="tags">
      <span class="tag">Rating: <%= @place.average_rating.round(1) %></span>
      <span class="tag">Category: <%= @place.place_type %></span>
     <%# Iterate over the true attributes and display corresponding tags %>
      <% @place.attributes.each do |attribute, value| %>
        <% if value == true && attribute.to_s.start_with?("tag_") %>
          <% tag_name = attribute.to_s.gsub("tag_", "#").capitalize %>
          <span class="tag"><%= tag_name %></span>
        <% end %>
    <% end %>
    </div>
    <h3>Description</h3>
    <p class="description">
      <%= @place.place_description %>
    </p>
    <div class="reviews">
      <h3>Reviews</h3>
      <% if @place.reviews.any? %>
        <% @place.reviews.each do |review| %>
          <div class="review-card">
            <%# Review Avatar --> %>
             <%# <% if @user.avatar.attached? %>
                <%# <%= cl_image_tag @user.avatar.key %>
             <%# <% else %>
              <!-- Display a default avatar image if user has no avatar -->
              <%# <%= image_tag "default_avatar.jpg", class: "avatar" %>
            <%# <% end %>
            <div class="review-details">
              <h2><%= review.title %></h2>
              <p><%= review.description %></p>
              <p>-<em><%= review.user.first_name %></em></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No reviews available yet.</p>
      <% end %>
    </div>
    <% unless current_user.has_reviewed?(@place) %>
      <%= render 'reviews/form', review: @review %>
    <% end %>
  </div>
</div>
