<div class="place-details">
  <div class="header">
    <h1><%= @place.place_name %></h1>
    <div class="images">
      <%# <% @place.images.each do |image| %>
        <%# <%= image_tag image.url, alt: "Image" %>
      <%# <% end %>
    </div>
    <div class="buttons">
      <button class="btn btn-primary take-me-there">Take me there</button>
      <%= link_to "Back", places_path, class: "btn btn-secondary back" %>
    </div>
  </div>

  <div class="details">
    <div class="tags">
      <span class="tag">Rating: <%= @place.average_rating.round(1) %></span>
      <span class="tag">Category: <%= @place.place_type %></span>
    </div>
    <h3>Description</h3>
    <p class="description">
      <%= @place.place_description %>
    </p>
    <div class="reviews">
      <h3>Reviews</h3>
      <% if @place.reviews.any? %>
        <% @place.reviews.each do |review| %>
          <div class="review-card">
            <%# Review Avatar -->
            <%= image_tag review.user.avatar.url, alt: "Avatar", class: "avatar" %>
            <div class="review-details">
              <h2><%= review.title %></h2>
              <p><%= review.description %></p>
              <p><strong>Reviewer:</strong> <%= review.user.first_name %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No reviews available yet.</p>
      <% end %>
    </div>
    <% unless current_user.has_reviewed?(@place) %>
      <%= render 'reviews/form', review: @review %>
    <% end %>
  </div>
</div>
