<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link href="path/to/icons8-sprite.svg" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f9fa;
      margin: 0;
      padding: 0;
    }

    .header-section {
      margin: 30px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .round-image-container {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #cccccc;
    }

    .user-profile-text h2 {
      margin: 20px 0;
    }

    .management-section {
      margin: 30px 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .profile-picture-box,
    .add-pets-box {
      width: 150px;
      height: 40px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e9ecef;
    }

    .modal-dialog {
      max-width: 500px;
    }

    .modal-title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .modal-body label {
      font-weight: bold;
    }

    .user-details,
    .pet-list {
      margin: 30px;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    .pet-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #e9ecef;
    }

    .pet-item:last-child {
      border-bottom: none;
    }

    .pet-details {
      display: flex;
      align-items: center;
    }

    .pet-icons {
      display: flex;
      align-items: center;
    }

    .pet-icons img {
      margin-right: 10px;
      cursor: pointer;
    }

    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;


.radio-inline {
  display: inline-block;
  margin-right: 15px;
}
input[type="radio"] {
  display: none;
}
.radio-label {
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  font-weight: light;
  margin-right: 10px;
}
input[type="radio"]:checked + .radio-label {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

    }
  </style>
</head>
<body>


<div class="header-section text-center">
  <div class="header-left">
    <div class="round-image-container">
      <%# add user profile picture %>
    <% if @user.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key %>
    <% end %>
    </div>
  </div>
  <div class="user-profile-text">
    <h2>Welcome <%= @user.first_name %>!</h2>
  </div>
</div>

<div class="button-container">
   <button type="button" class="btn btn-primary">Change Picture</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addpetModal" data-whatever="<%= current_user.first_name %>">Add Pet</button>
</div>
</div>

<!-- Add Pet Modal -->
<div class="modal fade" id="addpetModal" tabindex="-1" role="dialog" aria-labelledby="addpetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addpetModalLabel">Add Pet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for :pet, url: '/pets', method: :post, html: { multipart: true, id: 'addPetForm' } do |f| %>
          <%= f.error_notification %>

          <div class="form-group">
            <label for="pet_name">Pet Name*:</label>
            <%= f.text_field :pet_name, required: true, class: "form-control", id: "pet_name" %>
          </div>

          <div class="form-group">
            <label for="birthdate">Birth Date:</label>
            <%= f.date_field :birthdate, required: false, class: "form-control", id: "birthdate" %>
          </div>

          <div class="form-group">
            <label for="microchip_number">Microchip No.:</label>
            <%= f.text_field :microchip_number, class: "form-control", id: "microchip_number" %>
          </div>

          <div class="form-group">
            <label for="breed">Breed:</label>
            <%= f.text_field :breed, required: false, class: "form-control", id: "breed" %>
          </div>

          <div class="form-group">
            <label>Size*:</label><br>
            <label class="radio-inline">
              <%= f.radio_button :size, "Small", required: true, class: "radio-button" %>
              <span class="radio-label">Small</span>
            </label>
            <label class="radio-inline">
              <%= f.radio_button :size, "Medium", class: "radio-button" %>
              <span class="radio-label">Medium</span>
            </label>
            <label class="radio-inline">
              <%= f.radio_button :size, "Large", class: "radio-button" %>
              <span class="radio-label">Large</span>
            </label>
          </div>

          <div class="form-group">
            <label>Sterilized:</label><br>
            <label class="radio-inline">
              <%= f.radio_button :sterilized, "Yes", class: "radio-button" %>
              <span class="radio-label">Yes</span>
            </label>
            <label class="radio-inline">
              <%= f.radio_button :sterilized, "No", class: "radio-button" %>
              <span class="radio-label">No</span>
            </label>
          </div>

          <div class="form-group">
            <label for="color">Color:</label>
            <%= f.text_field :color, class: "form-control", id: "color" %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.button :submit, "Add Pet", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- user info -->
<div class="user-details">
  <h3>My Profile</h3>
  <p>First Name: <%= current_user.first_name %></p>
  <p>Last Name: <%= current_user.last_name %></p>
  <p>Email: <%= current_user.email %></p>
</div>

<!-- pet list -->
<div class="pet-list">
  <h3>My Pets</h3>
  <% if @pets.any? %>
    <% @pets.each do |pet| %>
      <div class="pet-item">
        <div class="pet-details">
          <% if pet.photos.attached? %>
            <div class="pet-avatar-container">
              <%= cl_image_tag pet.photos.key, width: 50, height: 50, class: "pet-photos", alt: pet.pet_name %>
            </div>
          <% else %>
            <div class="pet-avatar-container">
              <%= link_to image_tag("https://example.com/placeholder_image.jpg", width: 50, height: 50, class: "pet-placeholder"), "#" %>
            </div>
          <% end %>
          <%= pet.pet_name %>
        </div>
        <div class="pet-icons">
        <%= link_to image_tag("https://img.icons8.com/material-outlined/24/visible--v1.png", alt: "visible--v1"), pet_path(pet) %>
          <%= link_to image_tag("https://img.icons8.com/material-outlined/24/trash--v1.png", alt: "trash--v1"), pet_path(pet), data: { turbo_method: :delete, confirm: "Are you sure you want to delete #{pet.pet_name}?" }, class: "delete-pet" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No pet information yet</p>
  <% end %>
</div>


<!-- bootstrap -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script>
  $(document).ready(function() {
    // add pet
    $('#addPetForm').on('submit', function(event) {
      event.preventDefault();
      var form = $(this);

      $.ajax({
        url: form.attr('action'),
        method: form.attr('method'),
        data: form.serialize(),
        dataType: 'json',
        success: function(response) {
          console.log('Pet added successfully:', response.message);
          $('#addpetModal').modal('hide');
          // reload pets list after adding a new pet
          location.reload();
        },
        error: function(xhr, status, error) {
          console.error('Error adding pet:', error);
        }
      });
    });

    $('#addpetModal').on('hidden.bs.modal', function (e) {
      console.log('Modal closed');
    });
  });
</script>
