
<div class="header-section text-center">
  <div class="header-left">
    <div class="large-avatar">
    <%# add user profile picture %>
      <% if @user.avatar.attached? %>
        <%= cl_image_tag @user.avatar.key %>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/dag1qh58z/image/upload/v1713026463/default-avatar_uy0vmo.jpg" %>
      <% end %>
    </div>
  </div>

  <div class="user-profile-text">
    <h2>Welcome <%= @user.first_name %>!</h2>
  </div>
</div>



<div class="button-container">
   <%# Button to edit the picture %>
   <div class="edit-form" data-controller="edit-avatar">
    <button type="button" class="btn btn-primary" data-action="click->edit-avatar#displayForm">
      Change Picture
      <i class="fa-solid fa-pen fa-xs ml-2"></i>
    </button>


   <%# Button to add a pet %>
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addpetModal" data-whatever="<%= current_user.first_name %>">Add Pet</button>

    <%# Edit form to change picture %>
    <div class="d-none" data-edit-avatar-target="form">
      <%= render "edit_avatar", user: @user %>
    </div>

    </div>
  </div>

<!-- Add Pet Modal -->
<div class="modal fade" id="addpetModal" tabindex="-1" role="dialog" aria-labelledby="addpetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addpetModalLabel">Add Pet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for :pet, url: '/pets', method: :post, html: { multipart: true, id: 'addPetForm' } do |f| %>
          <%= f.error_notification %>

          <div class="form-group">
            <label for="pet_name">Pet Name*:</label>
            <%= f.text_field :pet_name, required: true, class: "form-control", id: "pet_name" %>
          </div>

          <div class="form-group">
            <label for="birthdate">Birth Date:</label>
            <%= f.date_field :birthdate, required: false, class: "form-control", id: "birthdate" %>
          </div>

          <div class="form-group">
            <label for="microchip_number">Microchip No.:</label>
            <%= f.text_field :microchip_number, class: "form-control", id: "microchip_number" %>
          </div>

          <div class="form-group">
            <label for="breed">Breed:</label>
            <%= f.text_field :breed, required: false, class: "form-control", id: "breed" %>
          </div>

          <div class="form-group">
            <label>Size*:</label><br>
            <label class="radio-inline">
              <%= f.radio_button :size, "Small", required: true, class: "radio-button" %>
              <span class="radio-label">Small</span>
            </label>
            <label class="radio-inline">
              <%= f.radio_button :size, "Medium", class: "radio-button" %>
              <span class="radio-label">Medium</span>
            </label>
            <label class="radio-inline">
              <%= f.radio_button :size, "Large", class: "radio-button" %>
              <span class="radio-label">Large</span>
            </label>
          </div>

          <%# <div class="form-group">
            <label>Sterilized:</label><br>
            <label class="radio-inline">
              <%= f.radio_button :sterilized, "Yes",required: false, class: "radio-button"
              <span class="radio-label">Yes</span>
            </label>
            <label class="radio-inline">
              <%= f.radio_button :sterilized, "No",required: false, class: "radio-button"
              <span class="radio-label">No</span>
            </label>
          </div> %>

          <div class="form-group">
            <label for="color">Color:</label>
            <%= f.text_field :color, class: "form-control", id: "color" %>
          </div>


          <%# Update pet picture %>
          <%# <div class="form-group"> %>
            <%# <label for="photo">Photo:</label> %>
            <%= f.input :photo, as: :file, input_html: { multiple: false } %>
          <%# </div> %>

<!--           <%# <div class="form-group">
            <label for="Vaccine Card">Vaccine Card:</label>
            <%= f.text_field :vaccine_card, class: "form-control", id: "vaccine card" %>
          </div> -->


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.button :submit, "Add Pet", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- user info -->
<div class="user-details">
  <h3>My Profile</h3>
  <p>First Name: <%= current_user.first_name %></p>
  <p>Last Name: <%= current_user.last_name %></p>
  <p>Email: <%= current_user.email %></p>
</div>

<!-- pet list -->
<div class="pet-list">
  <h3>My Pets</h3>
  <% if @pets.any? %>
    <% @pets.each do |pet| %>
      <div class="pet-item">
        <div class="pet-details">
            <div class ="pet-photo">
              <% if pet.photo.attached? %>
                  <%= cl_image_tag pet.photo.key, alt: pet.pet_name %>
              <% else %>
                  <%= image_tag "https://res.cloudinary.com/dag1qh58z/image/upload/v1712857676/5340777_a5bytl.jpg" %>
              <% end %>
            </div>
          <%= pet.pet_name %>
        </div>
        <div class="pet-icons">
        <%= link_to image_tag("https://img.icons8.com/material-outlined/24/visible--v1.png", alt: "visible--v1"), pet_path(pet) %>
          <%= link_to image_tag("https://img.icons8.com/material-outlined/24/trash--v1.png", alt: "trash--v1"), pet_path(pet), data: { turbo_method: :delete, confirm: "Are you sure you want to delete #{pet.pet_name}?" }, class: "delete-pet" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No pet information yet</p>
  <% end %>
</div>


<!-- bootstrap -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script>
  $(document).ready(function() {
    // add pet
    $('#addPetForm').on('submit', function(event) {
      event.preventDefault();
      var form = $(this);

      $.ajax({
        url: form.attr('action'),
        method: form.attr('method'),
        data: form.serialize(),
        dataType: 'json',
        success: function(response) {
          console.log('Pet added successfully:', response.message);
          $('#addpetModal').modal('hide');
          // reload pets list after adding a new pet
          location.reload();
        },
        error: function(xhr, status, error) {
          console.error('Error adding pet:', error);
        }
      });
    });

    $('#addpetModal').on('hidden.bs.modal', function (e) {
      console.log('Modal closed');
    });
  });
</script>
